{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="add-review-page">
    <div class="add-review-section">
        <div>{% include 'partials/ticket_snippet.html' with post=instance %}</div>
    </div>
    <div class="add-review-section">
        <h2 class="form-title">Critique</h2>
            <form class="ticket-detail-section" lass="form-homemade" method="post">
                {{ review_form.as_p }}
                {% csrf_token %}
                <button class="btn btn-success m-0" type="submit" >Publier</button>
            </form>
    </div>
</section>   
{% endblock content %}
