{% load static %}
<html>
    <head>
        <title>LITReview</title>
    
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Webestica.com">
        <meta name="description" content="LITReview based Articles, Reviews and Blog">
    
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/tiny-slider.css'">
    
        <!-- Theme CSS -->
        <link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
    <body>
        <h1>LITReview</h1>
        <h2><a href="{% url 'home'%}">Mon flux</a>
            <a href="{% url 'ticket_list'%}">Articles</a>
            <a href="{% url 'add_ticket' %}">Écrire un article</a>
            <a href="{% url 'add_review' ticket_id=0 %}">Écrire une critique</a></h2>
        {% block content %}{% endblock content %}
        {%  if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
    </body>
</html>