{% extends 'base.html' %}

{% block content %}
<section class="ticket-detail-page margin-text">
    <div class="ticket-detail-section">
        <strong><h3>Oeuvre littéraire</h3></strong>
        <h2 >{{ flux.title }}</h2>
        <img src="{{ ticket.image.url }}">
        <p><br>{{ ticket.description }}</p>
        <p>Ecrit par {{ ticket.user }} - {{ ticket.time_created }}</p>
    </div>
    <div class="ticket-detail-section">
        <strong><h3>Critique</h3></strong>
        {% if not reviews %}
            <a href="{% url 'add_review' ticket.id %}"><p>Ecrire une critique</p></a>
        {% endif %}
        {% for review in reviews %}
        <strong><p>{{ review.rating }} ⭐ {{ review.headline }}</p></strong>
        <p class="review-text">{{ review.body }}</p>
        <strong><p>{{ review.user }}</strong></p><p>{{ review.time_created }}</p>
        {% endfor %}
    </div>
</section>
{% endblock content %}




